<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <form (ngSubmit)="submit()" class="p-8 bg-white rounded shadow w-96">
    <h2 class="mb-6 text-2xl font-bold text-center">Login</h2>

    <input
      class="w-full p-2 mb-3 border rounded"
      [(ngModel)]="form.username"
      name="username"
      placeholder="Username"
    />

    <input
      type="password"
      class="w-full p-2 mb-3 border rounded"
      [(ngModel)]="form.password"
      name="password"
      placeholder="Password"
    />

    <button class="w-full py-2 text-white bg-orange-500 rounded">Login</button>

    <p class="mt-2 text-red-500" *ngIf="error">{{ error }}</p>

    <p class="mt-4 text-sm text-center">
      ยังไม่มีบัญชี?
      <a routerLink="/register" class="text-orange-500">สมัครสมาชิก</a>
    </p>
  </form>
</div>
